.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  background: linear-gradient(#0c221d, #115748);
  padding: 10px;
}

.link {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 12px;
  background: linear-gradient(#0c221d, #115748);
  transition: all 0.3s ease;
}

.link:hover {
  background: linear-gradient(#18233e, #1ed760);
  color: #ffffff;
  box-shadow: 0 0 8px hsl(167, 67%, 20%);
  border: 1px solid #1ed760;
}
